[defaults]
inventory = inventory/hosts
remote_user = your_username
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
timeout = 10